.about{
    background-image: url('../../images/background/about1\ \(2\).jpeg');
    height: 100vh;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}
.about h2{
    color: rgb(5, 99, 114);
    padding: 10px 0px 10px 0px;
    /* margin-top: 50px; */
    /* background-color: rgba(103, 92, 113, 0.391); */
    /* font-weight: bold; */
}