nav{
    /* background-color: rgb(211, 204, 204); */
    background-color: rgb(255, 255, 255);
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    /* background-color: rgba(0, 255, 255, 0.358); */
    display: flex;
    /* justify-content: center; */

    justify-content: space-between;
    align-items: center;
}
.nav-menu a img{
    /* background-color: rgb(18, 141, 141); */
    margin-top: 5px !important;
}
.nav-menu{
    margin-right: 10px;
}
.login-button{
    /* background-color: red !important; */
    margin-bottom: 5px !important;
    border: 1px solid rgb(255, 183, 0) !important;
    color: black !important;
    font-size: 15px !important;
    font-weight: 700 !important;

}
.login-button:hover{
   color: rgb(255, 159, 24) !important;
}
.top-search-section{
    /* background-color: rgba(255, 0, 0, 0.52); */
    margin-right: 10px;
}
.top-search-section .search-icon{
    background-color: rgb(255, 178, 36) !important;
}
.top-search-section .search-button:hover{
    background-color: gray;
}

.logo{
    /* width: 100%; */
    max-width: 7vw;
    /* max-height: 5vh; */
    /* height: auto; */
}
.nav-item{
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 2px 12px ;
    /* background-color: antiquewhite; */

}

@media (max-width: 776px){
    .nav-container{
        /* background-color: rgb(0, 217, 255); */
        display: block;
    }
    .top-search-section{
        padding: 10px 0px;
    }
}